<a href="https://colab.research.google.com/github/Sujith-sunny/Python-pandas/blob/main/Python_pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive/')  #connecting the drive with google colab

Drive already mounted at /content/drive/; to attempt to forcibly remount, call drive.mount("/content/drive/", force_remount=True).

In [3]:
import pandas as pd  #importing the pandas library

df = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/Python_pandas/pokemon_data.csv')     #read the data from an csv file.

In [4]:
print(df.head())   #printing the data frame which has all the data from the csv file. 
                   #Head() function allows the user to print only the top section of the file. Head() takes the parameter of no of rows of the file.

   #                   Name Type 1  ... Speed  Generation  Legendary
0  1              Bulbasaur  Grass  ...    45           1      False
1  2                Ivysaur  Grass  ...    60           1      False
2  3               Venusaur  Grass  ...    80           1      False
3  3  VenusaurMega Venusaur  Grass  ...    80           1      False
4  4             Charmander   Fire  ...    65           1      False

[5 rows x 12 columns]

In [6]:
print(df.tail())   #tail() function allows the user to print the bottom lines of the file.

       #                 Name   Type 1  ... Speed  Generation  Legendary
795  719              Diancie     Rock  ...    50           6       True
796  719  DiancieMega Diancie     Rock  ...   110           6       True
797  720  HoopaHoopa Confined  Psychic  ...    70           6       True
798  720   HoopaHoopa Unbound  Psychic  ...    80           6       True
799  721            Volcanion     Fire  ...    70           6       True

[5 rows x 12 columns]

In [7]:
df_txt = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/Python_pandas/pokemon_data.txt')   #We can read any txt file with data and print it.

In [8]:
print(df_txt.head(5))

  #\tName\tType 1\tType 2\tHP\tAttack\tDefense\tSp. Atk\tSp. Def\tSpeed\tGeneration\tLegendary
0  1\tBulbasaur\tGrass\tPoison\t45\t49\t49\t65\t6...
1  2\tIvysaur\tGrass\tPoison\t60\t62\t63\t80\t80\...
2  3\tVenusaur\tGrass\tPoison\t80\t82\t83\t100\t1...
3  3\tVenusaurMega Venusaur\tGrass\tPoison\t80\t1...
4  4\tCharmander\tFire\t\t39\t52\t43\t60\t50\t65\...

In [10]:
#The word are divided using "tab", so remoing a tab space will make it align properly
df_txt1 = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/Python_pandas/pokemon_data.txt', delimiter='\t')    #the delimeter helps to remove the spaces between the words.

In [11]:
print(df_txt1.head(5))

   #                   Name Type 1  ... Speed  Generation  Legendary
0  1              Bulbasaur  Grass  ...    45           1      False
1  2                Ivysaur  Grass  ...    60           1      False
2  3               Venusaur  Grass  ...    80           1      False
3  3  VenusaurMega Venusaur  Grass  ...    80           1      False
4  4             Charmander   Fire  ...    65           1      False

[5 rows x 12 columns]

In [12]:
#Reading the headers.
print(df.columns)

Index(['#', 'Name', 'Type 1', 'Type 2', 'HP', 'Attack', 'Defense', 'Sp. Atk',
       'Sp. Def', 'Speed', 'Generation', 'Legendary'],
      dtype='object')

In [18]:
#print the names of columns in the form of a list
df_col_list = df.columns
print(list(df_col_list))

['#', 'Name', 'Type 1', 'Type 2', 'HP', 'Attack', 'Defense', 'Sp. Atk', 'Sp. Def', 'Speed', 'Generation', 'Legendary']

In [13]:
#reading each header
print(df['Name'])

0                  Bulbasaur
1                    Ivysaur
2                   Venusaur
3      VenusaurMega Venusaur
4                 Charmander
               ...
795                  Diancie
796      DiancieMega Diancie
797      HoopaHoopa Confined
798       HoopaHoopa Unbound
799                Volcanion
Name: Name, Length: 800, dtype: object

In [14]:
#Specifying the number of headers to be printed
print(df['Name'][0:10])

0                    Bulbasaur
1                      Ivysaur
2                     Venusaur
3        VenusaurMega Venusaur
4                   Charmander
5                   Charmeleon
6                    Charizard
7    CharizardMega Charizard X
8    CharizardMega Charizard Y
9                     Squirtle
Name: Name, dtype: object

In [16]:
#we can get mutiple columns by adding a list of the column names
print(df[['Name', 'Speed', 'Defense']].head(5))

                    Name  Speed  Defense
0              Bulbasaur     45       49
1                Ivysaur     60       63
2               Venusaur     80       83
3  VenusaurMega Venusaur     80      123
4             Charmander     65       43

In [17]:
#This will print 5 lines from both top and bottom
print(df[['Name', 'Speed', 'Defense'][0:5]])

                      Name  Speed  Defense
0                Bulbasaur     45       49
1                  Ivysaur     60       63
2                 Venusaur     80       83
3    VenusaurMega Venusaur     80      123
4               Charmander     65       43
..                     ...    ...      ...
795                Diancie     50      150
796    DiancieMega Diancie    110      110
797    HoopaHoopa Confined     70       60
798     HoopaHoopa Unbound     80       60
799              Volcanion     70      120

[800 rows x 3 columns]

In [19]:
#printing the rows. We will iloc() function; which stands for integer location
print(df.iloc[1])

#                   2
Name          Ivysaur
Type 1          Grass
Type 2         Poison
HP                 60
Attack             62
Defense            63
Sp. Atk            80
Sp. Def            80
Speed              60
Generation          1
Legendary       False
Name: 1, dtype: object

In [21]:
print(df.iloc[1:7])

   #                   Name Type 1  ... Speed  Generation  Legendary
1  2                Ivysaur  Grass  ...    60           1      False
2  3               Venusaur  Grass  ...    80           1      False
3  3  VenusaurMega Venusaur  Grass  ...    80           1      False
4  4             Charmander   Fire  ...    65           1      False
5  5             Charmeleon   Fire  ...    80           1      False
6  6              Charizard   Fire  ...   100           1      False

[6 rows x 12 columns]

In [26]:
#we can locate any element using iloc() function by passing the respective row and column number
print(df.iloc[5,2])
print(df.iloc[4,1])

Fire
Charmander